@media (min-width: 1131px){
    .cabecalho{
        display:flex;
        align-items: center;
        justify-content: space-between;
        
    }
    
    .container-cabecalho{
        flex-direction: row;
        
    }

    .img-menu{
        display: none;
    }

    .lista-links{
        display: flex;
        position: relative;
    }

    .lista-links li a{
        padding: 1.7em 2em;
    }

    .lista-links li a:hover{
        border-bottom: 2px solid var(--textos-bordas);
    }
    
    .lista-projetos{
        flex-direction: row;
    }

    .content-sobre{
        flex-direction: row-reverse;
    }

    .links-rodape{
        flex-direction: row;
    }
}